---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"

$main-width: 120rem
$nav-height: 5rem

//fonts
$bodyfont: 'Source Sans Pro', helvetica, arial, sans-serif
$headerfont: 'Source Sans Pro', helvetica, arial, sans-serif

//colors

$brand: #DD6B00
$brand-light: lighten($brand, 20%)
$brand-dark: darken($brand, 10%)
$bodycolor: #252525
$transparent-black: rgba(0,0,0,0.5)

$nav-background: transparentize(black, 0.2)

$header-shadow: 0 2px 7px black


//Mixins
@mixin size($n)
  height: $n
  width: $n
@mixin shadow
  box-shadow: 0 2px 7px rgba(0,0,0,0.5)

//vendors
@import "vendor/normalize"
@import "vendor/skeleton"
@import "vendor/bourbon/bourbon"

@import "base"
@import "nav"
@import "header"
@import "posts"
@import "pagination"
@import "newsletter"
@import "footer"
//pages
@import "about"
//Leave me last
@import "custom"
