{{!< default}}

<div class="column-wrapper">
<!--Side Bar-->
<aside>
    <!--CTA-->
    <div>
		    
		    <div class="cta">
		      <a class="acta" href="#" target="_blank">
		       Want to <strong><em>sell</em></strong> your Omaha Home?
		            <br />Get a FREE home value report
		      </a>
		    </div>
		
		    <div class="cta2">
			    <a class="acta" href="#" target="_blank">
			        Want to <strong><em>buy</em></strong> an Omaha Home?
			            <br />Search all homes for sale
			    </a>
		    </div>
		
    </div>
    <!--End CTAs-->
	<div class="avatar-wrapper">
		<img class="avatar" src="/assets/images/briley.jpg">
	</div>
    <h3>Adam Briley</h3>
    <a href="http://Brileyhomes.com">Brileyhomes.com</a>
	<div class="about">
	<p>Briley Homes is an Omaha Metro Area real estate team offering cutting edge services to buyers and sellers moving into and out of the Omaha area. Briley Homes has over 50 years combined experience helping area home sellers and home buyers purchase, sell, and finance their dream. We have built our reputation on providing unparalleled service to all of our clients. We are a relationship-focused group. We care more about your complete satisfaction than making just one sale. Our ultimate goal is to make you a raving fan so that you want to do business with us again and feel compelled to refer us to your friends.</p>
	 </div>
    
	<div class="reviews">
    <a href="http://www.yelp.com/" alt="review us on yelp" target="_blank">

        <svg class="yelp" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 49" enable-background="new 0 0 115 49">
            <g>
                <path d="M37.3 25.9c-.7-.4-1.5-.4-2.3-.3-1.6.2-2.6 1.1-3.2 2.5-.1.3-.2.8-.2 1.1 0 .4.1.7.5.7h3.3c1.1 0 2.2-.1 3.4-.1.2 0 .3-.2.3-.4 0-.3 0-.7-.1-1-.2-1.1-.7-2-1.7-2.5zM70.1 27.3c-.3-.9-.8-1.6-1.8-1.8-1.6-.3-3.6.1-4 2.3-.2.9-.3 1.8-.4 2.7-.1 1.2-.1 2.4.2 3.6.3 1.5 1.1 2.6 2.7 2.7 1.7.2 2.8-.6 3.3-2.1.4-1.2.4-2.4.4-3.7v-.8c.1-.9 0-1.9-.4-2.9zM0 0v50h115V0H0zm25.7 25.2c-1.7 5.5-3.5 11-5.3 16.5-.2.8-.6 1.5-1 2.2-.5.8-1.2 1.3-2.1 1.6-1.2.3-2.4.5-3.7.1-.9-.3-1.5-.9-1.5-1.7-.1-1 .6-1.9 1.6-2 .5-.1 1 0 1.4 0 .9 0 1.5-.5 1.6-1.3.1-.5 0-1-.3-1.5-1.4-2.9-2.8-5.7-4.2-8.6l-2.4-4.8c-.4-.9-.5-1.9.2-2.7.8-1 2.3-1.1 3.1-.2l.6.9c1.7 3.2 3.3 6.3 5 9.5 0 .1.1.2.2.3.1-.4.2-.7.3-1 .8-2.7 1.6-5.5 2.4-8.2.2-.6.4-1.1.8-1.6.4-.6 1.1-.7 1.8-.6.8.2 1.3.6 1.5 1.4.4.5.2 1.1 0 1.7zM38 33h-4.6c-.3 0-.5.1-.6.4-.1.9.1 1.8.7 2.5.9 1.2 2.4 1.6 4 1.1.8-.3 1.5-.7 2.2-1.3.2-.2.4-.3.6-.5 1-.8 2.4-.1 2.6 1.2.1.9-.3 1.6-.8 2.2-1 1.1-2.2 1.6-3.5 2-1.7.4-3.3.5-5 .1-2.2-.6-3.6-2.1-4.4-4.2-.5-1.3-.7-2.6-.7-3.9 0-1.8 0-3.6.5-5.3.5-1.7 1.3-3.2 2.8-4.1.9-.6 1.9-.9 3-1 1.3-.2 2.6-.2 3.9.2 2.3.7 3.7 2.3 4.3 4.6.4 1.5.5 3.1.4 4.7 0 .2 0 .3-.1.5-.1.6-.2.9-.9.9L38 33zm11.9 7.9c-.9-.1-1.7-.8-1.8-1.6 0-.4-.1-.7-.1-1.1V18.4c0-.3 0-.6.1-.9.2-.7.7-1.1 1.4-1.3.8-.2 1.5-.1 2.1.5.2.2.3.5.4.8.1.6.1 1.2.1 1.8v19.4c.2 1.4-.8 2.3-2.2 2.2zm23.1-9c-.1 1.4-.2 2.8-.6 4.1-.8 2.7-2.7 4.3-5.5 4.7-1.2.2-2.4 0-3.6-.5-.5-.2-.9-.6-1.4-.9-.1.4-.2.7-.2 1.1v3.7c0 .3 0 .6-.1 1-.2.7-.6 1.1-1.3 1.3-1.2.4-2.4-.2-2.7-1.3-.1-.3-.1-.7-.1-1V23.4c.1-.9.6-1.3 1.4-1.5.9-.2 1.7 0 2.2.7.2.3.3.6.4.9l.6-.3c1.6-1.2 3.4-1.5 5.3-1.1 1.3.3 2.5.8 3.5 1.8.9 1 1.4 2.1 1.6 3.4.5 1.4.6 3 .5 4.6zm4.3-3.4c-.1-.5-.2-1-.3-1.4-.1-.5-.1-1-.1-1.4 0-1.4.1-2.8.5-4 .2-.6.5-1.1 1.2-1.2.2 0 .5 0 .7.1 1.8.7 3.6 1.5 5.4 2.2.8.3 1.6.6 2.3 1 1.1.4 1.4 1.7.7 2.6-.1.2-.4.4-.6.4-2.7.9-5.4 1.7-8.2 2.6-.8.2-1.4-.3-1.6-.9zm13.9 10.3c0 .9-.5 1.5-1.4 1.5-.9 0-1.7-.2-2.6-.4-1.3-.4-2.5-.9-3.6-1.6-.2-.1-.4-.3-.6-.5-.5-.5-.5-1.1-.1-1.7.7-.9 1.5-1.8 2.3-2.7 1.1-1.3 2.2-2.5 3.2-3.8.5-.5 1-.7 1.7-.4.7.3.9.8.9 1.5V33l.2 5.8zm0-18.9c-.3 1.1-1.5 1.4-2.3.7-.4-.3-.7-.7-.9-1.1-1.9-3-3.8-5.9-5.7-8.9-.7-1.1-1.3-2.1-2-3.2-.4-.6-.3-1.3.3-1.7.6-.4 1.3-.8 2.1-1 1.8-.7 3.6-1.2 5.6-1.4h.5v-.1c.3.1.6.1.9.2.5.2.8.5.8 1.1.2 2.4.4 4.8.5 7.2.1 1.4.2 2.8.3 4.3.1.9.1 1.8.2 2.7-.2.3-.2.8-.3 1.2zm3 1.6c1.7-2.2 3.3-4.5 5-6.7.5-.7 1.2-.8 1.9-.3s1.3 1.2 1.8 1.9c.8 1.1 1.6 2.3 2.1 3.6.1.2.1.4.1.6.1.7-.3 1.3-1 1.5l-4.8 1.2c-1.1.3-2.2.6-3.3.8h-.4c-.7 0-1.2-.3-1.5-1-.4-.5-.3-1.1.1-1.6zm11 10.3c-.2.6-.5 1.2-.9 1.8-.8 1.3-1.8 2.4-2.9 3.4-.2.2-.4.3-.6.4-.7.4-1.3.2-1.8-.4-.6-.9-1.2-1.8-1.8-2.8-.9-1.5-1.8-2.9-2.7-4.4-.3-.5-.3-1.1 0-1.7.3-.5.8-.9 1.5-.9.1 0 .2 0 .4.1 2.5.8 4.9 1.6 7.4 2.5.2.1.4.1.6.2.8.4 1.1 1 .8 1.8z"
                /></path>
            </g>
        </svg>
    </a>

    <a href="http://www.zillow.com/" alt="and zillow" target="_blank">

        <svg class="zillow" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 49" enable-background="new 0 0 115 49">
            <g fill-rule="evenodd" clip-rule="evenodd">
                <path d="M78.2 22.1c-.7 0-1.3.5-1.6 1.2-.2.6-.3 1.4-.3 2.6 0 1.3.1 2.4.4 2.9.3.6 1 1 1.6 1 1.3 0 1.9-1.2 1.9-3.9 0-1.6-.2-2.6-.6-3.1-.3-.5-.8-.7-1.4-.7zM0 0v50h115V0H0zm24.3 13.3c.9.4 4.3 2.7 5.4 3.5-3.8.1-11.3 1.7-14.4 2.8 2.6-1.9 7.4-5.6 9-6.3zM11.2 23.6c2-.9 7.7-2.6 13.2-3.9 0 0-10.5 9.6-13.4 12.6l2.4-6.5c-1.9.3-2.7.4-5.2.9l3-3.1zm18.4 8.8c-9.2.5-19.1 3.8-20.2 4.3l1.2-3.4c3.1-1.4 10.8-4.2 20.3-4.9-.1.7-1.1 3.2-1.3 4zm3.3-9.2s-.5.9-.9 2.2c-3.7.2-9.4 1.4-12.2 2.4 1.4-1.3 10.7-10.5 10.7-10.5 3.6 2.4 7.3 5.4 7.3 5.4l-4.9.5zM52.4 32H43v-2.5l5.7-10.3c.4-.7.5-1.3.5-1.3H43l.7-3H53v2.6l-5.9 10.6c-.3.6-.5.9-.5.9s.8-.1 1.4-.1h5.3l-.9 3.1zm2.9 0V21.6l3-.6v11h-3zm1.6-11.8c-1 0-1.9-.8-1.9-1.9 0-1 .9-1.9 1.9-1.9 1 0 1.8.8 1.8 1.9.1 1-.8 1.9-1.8 1.9zM61.4 32V15.7l3.1-.7v16.9h-3.1zm6.1 0V15.7l3.1-.7v16.9h-3.1zM82 30.4c-.9 1-2.1 1.6-3.9 1.6-3.2 0-5.3-2.4-5.3-6.1s2.1-6.1 5.3-6.1c1.7 0 3 .6 4 1.8.9 1.1 1.3 2.4 1.3 4.3.1 2-.4 3.4-1.4 4.5zM96.9 32H94l-1-4.1c-.3-.9-.5-2.1-.7-2.9-.1-.5-.1-.7-.2-1.2-.1.5-.1.6-.3 1.5-.2 1-.7 3.1-1 4.2l-.5 2.5h-2.9l-3.3-12h3.1l.9 4.4c.3 1.3.7 3.7.7 3.7s.3-2.1.8-4.1l1.1-4h2.9l.9 3.9c.5 2.2.9 4.2.9 4.2.1-.5.3-2.4.6-3.8l1-4.3h3.2l-3.3 12z"
                /></path>
            </g>
        </svg>
    </a>

    <a href="http://www.trulia.com/" alt="or trulia" target="_blank">

        <svg class="trulia" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 115 49" enable-background="new 0 0 115 49">
            <g>
                <path d="M16.5 10.7c-3.2-.2-5.4 2.3-5.4 4.9 0 2.6 2.2 4.9 5 4.8 2.8.1 5-2.2 5-4.8.1-2.7-2.1-4.7-4.6-4.9zM0 0v50h115V0H0zm22.8 20.6c-.8 2.2-1.6 4.3-2.4 6.5-.6 1.6-1 3.3-1.4 5-.3 1.2-.4 2.4-.5 3.6-.1 1.1-.2 2.1-.2 3.2 0 .8-.1 1.5-.1 2.3 0 .3-.1.3-.4.3h-3.1c-.3 0-.4-.1-.4-.4 0-.7 0-1.5-.1-2.2-.1-1.1-.2-2.1-.3-3.2-.1-1.3-.3-2.5-.5-3.8-.2-1.3-.5-2.6-.9-3.8-.8-2.3-1.7-4.5-2.5-6.8-.5-1.3-.8-2.5-1-3.8V14.5c.2-1.1.4-2.1 1-3 .9-1.5 2.2-2.7 3.9-3.2.4.1.7-.3 1.1-.3h2.5c.4 0 .7.4 1.1.5 1.8.5 3 1.7 3.9 3.3.7 1.2.9 2.6 1 4 .1 1.6-.2 3.2-.7 4.8zM39 24h-6v.1c0 3.5.1 7.1.1 10.6 0 .5.1 1 .2 1.4.3 1.6 1.3 2.3 2.9 2.2.7 0 1.3-.1 2-.2.1.9.1 1.8.2 2.7 0 .1-.1.3-.2.3-1.8.5-3.6.7-5.4.2-1.9-.6-2.8-2-3.2-3.8-.2-.9-.4-1.7-.4-2.6 0-3.6-.1-7.2-.1-10.8v-.2h-3v-3h3V20c0-1 .1-2 .1-3 0-.1.1-.3.2-.4 1.2-.4 2.7-.7 3.7-1.1v5.4h6C39 22 39 23 39 24zm12.9.4c-3.1-.5-5.4 1.6-5.9 4.1-.1.7-.1 1.4-.1 2 0 3.6.1 7.1.1 10.7v.8h-4V21h3v3.5c1-.7 1.3-1.5 1.9-2.2 1.3-1.3 3.1-1.9 5-1.7.1 0 .3.1.3.2v3.5c-.1.1-.2.1-.3.1zM73 42h-4v-3.5c0 .5-1.1 1-1.7 1.5-2.6 2-6.8 2.1-9.3.2-1.5-1.1-2.3-2.7-2.6-4.4-.2-1-.3-2.1-.3-3.1V20.9H59v10.7c0 1.1.2 2.2.4 3.3.3 1.5 1.2 2.6 2.7 3.1 3.4 1.1 6.9-1.5 6.9-5.1 0-4-.1-7.9-.1-11.9v-.1h4C73 28 73 35 73 42zm7 0h-4V11h4v31zm7 0h-4V21h4v21zm-2.4-24.7c-1.5 0-2.5-1-2.5-2.6 0-1.2 1-2.5 2.8-2.4 1.2.1 2.4 1.2 2.3 2.5-.1 1.5-1.1 2.5-2.6 2.5zm21.4 24v.7h-4v-3.2c0 .4-.5.7-.8.9-1.4 1.2-3 1.8-4.9 1.8-1.3.1-2.5-.1-3.7-.7-2.4-1.3-3.6-3.9-3-6.7.5-2.4 2.1-3.8 4.2-4.7 1.8-.8 3.8-1.2 5.8-1.3.8-.1 1.7-.1 2.6-.1.5-2.1-1-4.5-3.3-4.8-2.3-.4-4.5 0-6.6 1.1-.1.1-.3.2-.5.3-.3-.9-.6-1.7-.9-2.6 1.1-.7 2.3-1.2 3.5-1.5 1.9-.5 3.9-.6 5.8-.2 3 .6 4.9 2.4 5.5 5.4.2 1 .2 2 .2 3.1.2 4.2.1 8.3.1 12.5zM102 30.8c-1 0-2 .1-3 .2-1.1.1-2.3.3-3.3.9-1.4.7-2.2 1.8-2.2 3.4 0 1.8.9 3.1 2.5 3.4.8.2 1.6.2 2.4-.1 2-.5 3.4-1.7 3.8-3.8.2-1.3 0-2.6 0-4h-.2z"
                /></path>
            </g>
        </svg>
    </a>
    </div>
<a href="http://itunes.com" alt="check out our podcast on itunes" target="_blank">

    <svg class="itunes" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 360 53" enable-background="new 0 0 360 53">
        <path d="M0 0h360v54H0z" />
        <g fill="#fff">
            <path d="M42.7 6.5c-11.5 0-20.8 9.3-20.8 20.8s9.3 20.8 20.8 20.8 20.8-9.3 20.8-20.8S54.2 6.5 42.7 6.5zm0 39.5C32.4 46 24 37.7 24 27.3 24 17 32.4 8.6 42.7 8.6 53 8.6 61.4 17 61.4 27.3 61.4 37.7 53 46 42.7 46zM43.8 15.5c-3.1.6-7.8 1.9-7.8 1.9v15.7c-1-.4-3.7-.6-5.1 1.7-1.4 2.3.3 4.9 3.2 5 2.9.1 5-1.7 5-3.2 0-1.5-.2-12.9-.2-12.9 4.1-1.7 11-2 11-2v8.7s-1.8-1.2-4.6.6c-2.7 1.8-1.5 5.9 2.4 6 4.1.3 5.3-3 5.3-3V14.7s-6.1.3-9.2.8z"
            /></path>
        </g>
        <g fill="#fff">
            <path d="M84.3 15.2h2.4v18.2H84l-9.3-14.7v14.7h-2.3V15.2h2.9l9.1 14.7V15.2zM89.9 26.7c0-2 .5-3.6 1.6-5 1.1-1.3 2.6-2 4.5-2s3.4.7 4.5 2 1.6 3 1.6 4.9c0 1.9-.5 3.6-1.6 5-1 1.4-2.5 2.1-4.5 2.1-1.9 0-3.4-.7-4.5-2-1-1.3-1.6-3-1.6-5zm2.3 0c0 1.5.3 2.7 1 3.6.7 1 1.6 1.4 2.8 1.4 1.3 0 2.2-.5 2.9-1.5.7-1 1-2.2 1-3.6s-.3-2.6-1-3.6-1.6-1.5-2.9-1.5c-1.2 0-2.1.5-2.8 1.4-.7 1.1-1 2.3-1 3.8zM109.4 33.3h-2.3l-3.8-13.2h2.4l2.5 10.4 2.6-10.4h2.5l2.6 10.4 2.7-10.4h2.2L117 33.3h-2.3L112 23.1l-2.6 10.2zM132.6 28l-1.9 5.3h-2.5l6.8-18.2h2.8l6.6 18.2h-2.7l-1.8-5.3h-7.3zm6.4-2.1l-2.7-8-2.9 8h5.6zM154 20.1h2.4l-5 13.2H149l-4.8-13.2h2.6l3.4 10.8 3.8-10.8zM157.8 24.1c0-1.5.5-2.6 1.5-3.3.9-.7 2.3-1.1 4-1.1 1.4 0 2.6.3 3.5 1 .9.6 1.4 1.5 1.4 2.7V31c0 .5.2.8.7.8.2 0 .4 0 .7-.1v1.6c-.4.2-.8.2-1.3.2-.8 0-1.3-.2-1.7-.5s-.6-.8-.6-1.5c-1.3 1.4-2.9 2.1-4.8 2.1-1.3 0-2.3-.4-3-1.1s-1.1-1.6-1.1-2.8c0-1.2.3-2.1 1-2.8.7-.7 1.6-1.1 2.9-1.3l3.9-.5c.7-.1 1.1-.6 1.1-1.6 0-.7-.3-1.2-.8-1.6s-1.3-.6-2.3-.6c-.9 0-1.6.2-2.1.6-.5.4-.8 1.1-.9 1.9h-2.1zm8.1 2.5c-.2.2-.5.3-1 .4s-1.4.2-2.7.4c-1 .1-1.7.4-2.1.7s-.7.8-.7 1.4c0 .7.2 1.3.6 1.7.4.4 1 .6 1.9.6 1.1 0 2-.3 2.8-.9.8-.6 1.2-1.3 1.2-2.2v-2.1zM172 17.7v-2.5h2.2v2.5H172zm2.2 15.6H172V20.1h2.2v13.2zM180 33.3h-2.2V15.2h2.2v18.1zM183.5 24.1c0-1.5.5-2.6 1.5-3.3.9-.7 2.3-1.1 4-1.1 1.4 0 2.6.3 3.5 1 .9.6 1.4 1.5 1.4 2.7V31c0 .5.2.8.7.8.2 0 .4 0 .7-.1v1.6c-.4.2-.8.2-1.3.2-.8 0-1.3-.2-1.7-.5-.4-.3-.6-.8-.6-1.5-1.3 1.4-2.9 2.1-4.8 2.1-1.3 0-2.3-.4-3-1.1s-1.1-1.6-1.1-2.8c0-1.2.3-2.1 1-2.8.7-.7 1.6-1.1 2.9-1.3l3.9-.5c.7-.1 1.1-.6 1.1-1.6 0-.7-.3-1.2-.8-1.6s-1.3-.6-2.3-.6c-.9 0-1.6.2-2.1.6-.5.4-.8 1.1-.9 1.9h-2.1zm8.1 2.5c-.2.2-.5.3-1 .4-.5.1-1.4.2-2.7.4-1 .1-1.7.4-2.1.7s-.7.8-.7 1.4c0 .7.2 1.3.6 1.7.4.4 1 .6 1.9.6 1.1 0 2-.3 2.8-.9.8-.6 1.2-1.3 1.2-2.2v-2.1zM197.7 33.3V15.2h2.2v6.6c.9-1.4 2.2-2.1 3.8-2.1 1.6 0 3 .6 4 1.8 1 1.2 1.5 2.8 1.5 4.8 0 2.2-.5 4-1.5 5.3-1 1.4-2.5 2-4.3 2-1.6 0-2.8-.7-3.6-2v1.6h-2.1zm9.3-6.6c0-1.8-.3-3-.9-3.8-.6-.8-1.5-1.1-2.7-1.1-1.2 0-2.1.5-2.7 1.4-.6.9-.9 2.2-.9 3.9 0 1.7.4 3 1.1 3.7.7.7 1.6 1.1 2.5 1.1 1.1 0 2-.5 2.6-1.4.7-1 1-2.2 1-3.8zM214.5 33.3h-2.2V15.2h2.2v18.1zM229.2 29.2c-.2 1.4-.9 2.5-2 3.4-1 .8-2.2 1.1-3.8 1.2-1.9 0-3.3-.6-4.4-1.8s-1.6-2.8-1.6-4.8c0-2.3.6-4.1 1.7-5.4 1.1-1.3 2.7-1.9 4.7-1.9 1.8 0 3.2.7 4.2 2s1.5 3.2 1.5 5.7h-9.7c0 1.4.3 2.5 1 3.2.6.8 1.6 1.1 2.9 1.1.9 0 1.7-.3 2.3-.8s1-1.1 1.1-1.8h2.1zm-2.1-3.5c-.1-1.4-.5-2.4-1.1-3-.6-.6-1.5-.9-2.6-.9s-2 .4-2.6 1.1c-.7.8-1 1.7-1.1 2.8h7.4zM238 26.7c0-2 .5-3.6 1.6-5 1.1-1.3 2.6-2 4.5-2s3.4.7 4.5 2c1.1 1.4 1.6 3 1.6 4.9 0 1.9-.5 3.6-1.6 5s-2.6 2.1-4.5 2.1-3.4-.7-4.5-2-1.6-3-1.6-5zm2.2 0c0 1.5.3 2.7 1 3.6.7 1 1.6 1.4 2.8 1.4 1.3 0 2.2-.5 2.9-1.5.7-1 1-2.2 1-3.6s-.3-2.6-1-3.6-1.6-1.5-2.9-1.5c-1.2 0-2.1.5-2.8 1.4-.6 1.1-1 2.3-1 3.8zM263.8 33.3h-2.2v-8.1c0-1.3-.2-2.1-.7-2.7s-1.2-.8-2.2-.8c-1 0-1.8.4-2.5 1.1-.7.8-1 1.8-1 3.3v7.2H253V20.1h2.1V22c1-1.5 2.4-2.2 4-2.2 1.5 0 2.6.4 3.4 1.2s1.2 1.9 1.2 3.4v8.9zM273.6 17.7v-2.5h2.2v2.5h-2.2zm2.3 15.6h-2.2V20.1h2.2v13.2zM284.2 17.4H278v-2.2h14.8v2.2h-6.2v16h-2.5v-16zM289.5 20.1h2.2v8.8c0 1 .2 1.7.7 2.2.4.5 1.1.7 1.9.7 1.1 0 2-.4 2.7-1.2.6-.8 1-1.9 1-3.2v-7.3h2.2v13.2H298v-1.9c-.8 1.6-2.2 2.4-4.2 2.4-1.3 0-2.3-.3-3.1-1-.8-.7-1.2-1.7-1.2-3.1v-9.6zM314.4 33.3h-2.2v-8.1c0-1.3-.2-2.1-.7-2.7s-1.2-.8-2.2-.8c-1 0-1.8.4-2.5 1.1-.7.8-1 1.8-1 3.3v7.2h-2.2V20.1h2.1V22c1-1.5 2.4-2.2 4-2.2 1.5 0 2.6.4 3.4 1.2s1.2 1.9 1.2 3.4v8.9zM329.1 29.2c-.2 1.4-.9 2.5-2 3.4-1 .8-2.2 1.1-3.8 1.2-1.9 0-3.3-.6-4.4-1.8s-1.6-2.8-1.6-4.8c0-2.3.6-4.1 1.7-5.4 1.1-1.3 2.7-1.9 4.7-1.9 1.8 0 3.2.7 4.2 2s1.5 3.2 1.5 5.7h-9.7c0 1.4.3 2.5 1 3.2.6.8 1.6 1.1 2.9 1.1.9 0 1.7-.3 2.3-.8s1-1.1 1.1-1.8h2.1zm-2.2-3.5c-.1-1.4-.5-2.4-1.1-3-.6-.6-1.5-.9-2.6-.9s-2 .4-2.6 1.1c-.7.8-1 1.7-1.1 2.8h7.4zM339.6 23.9c0-.8-.3-1.4-.8-1.7-.5-.3-1.3-.5-2.3-.5-.7 0-1.3.2-1.9.5s-.8.8-.8 1.4c0 .5.2.8.5 1.1.3.2 1 .5 2 .7l2.2.6c1.3.3 2.3.8 2.9 1.3.6.5.9 1.3.9 2.2 0 1.3-.5 2.4-1.4 3.2-1 .8-2.2 1.2-3.8 1.2-1.9 0-3.3-.4-4.2-1.2-1-.8-1.4-1.9-1.5-3.5h2.1c0 .9.3 1.6.9 2 .6.4 1.4.7 2.6.7.9 0 1.7-.2 2.2-.6.5-.4.8-.9.8-1.5 0-.5-.2-.8-.5-1.1-.4-.3-1.1-.5-2.1-.8l-2.6-.6c-1-.3-1.8-.7-2.3-1.2-.5-.5-.7-1.2-.7-2 0-1.3.5-2.3 1.4-3.1s2.1-1.1 3.6-1.1c1.6 0 2.8.4 3.7 1.2s1.3 1.8 1.4 3h-2.3z"
            /></path>
        </g>
        </path>
    </svg>
</a>
</aside>
</div>
<!--End Side Bar-->