{{!< default}}

<!--Footer-->
<footer>
	
	<address>
		<strong>Briley Homes of Berkshire Hathaway HomeServices - Ambassador Real Estate</strong><br>
		13340 California Street, Omaha, NE 68154<br>
		<a href="tel:402-614-6922">(402) 614-6922</a><br>
		<a href="mailto:adam@brileyhomes.com">adam@brileyhomes.com</a><br><br>
		Proudly Brought To You By<br>
		<a href="http://getvyral.com" target="_blank">Vyral Marketing</a>
	</address>
	
</footer>
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>