<header class="warning">
  <div class="container">
    <div class="row">
      <div class="col col--12-of-12">
        <ul class="missing">

        {% if site.data.settings.client.homeeval == '#' %}
          <li>Needs Home Eval Link</li>
        {% endif%}
        {% if site.data.settings.client.search == '#' %}
          <li>Needs Home Search Link</li>
        {% endif%}
        {% if site.data.settings.VR_form == '#' %}
          <li>Needs VR optin url</li>
        {% endif %}

        {% if site.data.settings.socials.facebook == '#' %}
          <li>Needs Facebook Link</li>
        {% endif%}
        {% if site.data.settings.socials.linkedin == '#' %}
          <li>Needs Linkedin Link</li>
        {% endif %}
        {% if site.data.settings.socials.gplus == '#' %}
          <li>Needs Google Plus Link</li>
        {% endif %}
        {% if site.data.settings.socials.youtube == '#' %}
          <li>Needs Youtube Link</li>
        {% endif %}
        {% if site.data.settings.socials.twitter == '#' %}
          <li>Needs Twitter Link</li>
        {% else %}
          {% assign site.data.settings.audit_header = false  %}
        {% endif %}
      </ul>
      </div>
    </div>
  </div>
</header>
