<div style="background-color: {{site.data.settings.images.hero_background_hex}}">
<header id="hero" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <!-- logo -->
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo"></a>
        <!-- title -->
        <a href="/"><h1 class="site-title">{{site.data.settings.title}}</h1></a>
      </div>
      <!-- call to actions -->
      <div class="row cta-wrapper">
        <div class="twelve columns">
          <a href="{{site.data.settings.client.homeeval}}" class="button cta">Home Evaluation</a>
          <a href="{{site.data.settings.client.homesearch}}" class="button-ghost cta">Home Search</a>
        </div>
      </div>
    </div>
  </div>
</header>
</div>
