<nav class="top-nav" id="top-nav">
  <ul class="top-menu">
    <li><a href="/">Home</a></li>
    {% for page in site.pages %}
      {% if page.title %}
      <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    {% for item in site.data.settings.navigation %}
      <li><a href="{{ item.url}}">{{ item.title}}</a></li>
    {% endfor %}
  </ul>
  <a href="#" id="hamburger" role="button">
  <span></span>
  </a>
</nav>
