<!-- Newsletter optin form -->
<section class="newsletter">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h2>Sign Up for Our Newsletter</h2>
        <p>Get up-to-date Real Estate news and tips every month</p>
        <form action="{{site.data.settings.client.VR_form}}" method="post" class='newsletter_optin' target="vr_optin_popup" onsubmit="window.open( 'http://www.verticalresponse.com', 'vr_optin_popup', 'scrollbars=yes,width=600,height=450' ); return true;">
          <input type="email" placeholder="Email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
          <input type="submit" value="Sign up">
        </form>
      </div>
    </div>
  </div>
</section>
