footer
  background: #4A4A4A
  color: white
  padding: 2rem
  hr
    border-top: 2px solid $brand
  address
    font-style: normal
@media(max-width: 500px)
  footer
    text-align: center
    // hr
    //   display: none

.footer-socials
  text-align: center
  margin: 2rem
  list-style-type: none
  li
    display: inline-block
  svg
    height: 3rem
    border-radius: 50%
    fill: white
    -webkit-transition: 1s cubic-bezier(0.4, 0, 0.2, 1)
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1)
    &:hover
      fill: $brand
      @include transform(rotate(360deg))
.attribution
  text-align: center
.vyral-logo
  fill: $brand
  display: inline
  max-width: 2rem
  position: relative
  top: 0.5rem
  margin-right: 0.1rem
  &:hover
    fill: $brand-light
