.top-nav
  position: fixed
  text-align: right
  font-weight: 300
  font-size: 1.5rem
  text-transform: capitalize
  width: 100%
  ul
    margin: 1rem
    li
      padding: 0.5rem
  a
    color: white
    &:hover
      color: $brand
