.nav-wrap
 z-index: 2
 width: 100%
 height: 4em
 background-color: $primary-color
 text-align: left
 line-height: 3em
 +box-shadow
 +clearfix
 ul
  display: inline
 a
  padding: 0.2em 1em

.resToggle 
 color: $primary-text
 display: none
 font-size: 2.3em

#top-nav 
 ul
  list-style-type: none
  margin: 0em
  padding-left: 0em
  li
   display: inline-block
   padding: 0.5em 1em
   font-size: 1.2em
   cursor: pointer
   a
    color: $primary-text
    border: 1px solid $primary-color
    &:hover
     border: 1px solid $primary-text


#socials
 position: relative
 bottom: 2.2em
 right: 0
 width: 45%
 height: 100%
 margin: 0em
 float: right
 text-align: right
 list-style-type: none
 font-size: 1.7em
 li
  margin-right: 0.3em
  padding: 0em
  display: inline-block
  a
   text-align: center
   color: $primary-text
   border: 1px solid $primary-color
   &:hover
    border: 1px solid $primary-text


@media screen and (max-width: 768px) 
 .resToggle 
  display: inline-block
  position: relative
  top: 0.2em
  float: left
  margin-left: 1em
  background-color: $primary-color
  border: 0px
  outline: none
 .nav-wrap

 #top-nav
  text-align: center
  display: none
  //width: 100%
  background-color: $primary-color
  &.active 
   display: block
  ul
   li 
    display: block
    border-bottom: 1px solid $primary-text
    a 
     padding: 15px 10px
     &:hover
      border: none

 #socials
  position: relative
  top: 0.3em
  right: 0em
  width: 75%
  font-size: 1em
  li
   float: left
   a
    border: none
    &:hover
     border: none 
  &.active
   display: none