//.main-wrapper
//   height: 100%

//.posts
// width: 80%
// .article-wrapper
//  padding: 3em 0em 0em 3em
//  width: 80%
// article
//  background: white
//  width: 100%
//  height: 100%
//  h2
//   margin: 0
//   padding: 1em 0em 
//.embed-container 
// position: relative
// padding-bottom: 56.25%
// height: 0
// overflow: hidden
// max-width: 100%
// height: auto
// margin-bottom: 2em
.main
 background: green
 width: 60%
 height: 100%
 margin: 0 auto
 box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.5)

.article
 background: white
 margin: 0 auto 
 width: 100%
 height: 100%

.postcontent
 margin: 4em

.postags
 margin: 4em

#article-wrapper
 margin: 4em
 
.postheader
 height: 10em
 text-align: center 

.pagination
 background: $primary-color
 color: $primary-text
 text-align: center 
 height: 3em


.embed-container iframe,
.embed-container object,
.embed-container embed 
 position: absolute
 top: 0
 left: 0
 width: 100%
 height: 100% 