<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="about">
    {% include page-nav.html %}
    {% include contact-modal.html %}
    <header id="hero" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <!-- logo -->
            <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo"></a>
            <!--site title-->
            <a href="{{site.data.settings.title}}"><h2 class="site-title">{{site.data.settings.title}}</h2></a>
            <!-- title -->
            <a href="{{page.url | prepend: site.url}}"><h1 class="page-title">{{page.title}}</h1></a>
            <img src="{{site.data.settings.images.client_headshot_path}}" alt="{{site.data.settings.client.name}}" class="headshot">
          </div>

        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="twelve columns about-content editable">
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h2>Let's Connect</h2>
        </div>
      </div>
    </div>
    {% if site.data.settings.review_sm_icons == false %}
      {% include review-buttons.html %}
    {% endif %}
    <div class="container socials">
      {% include socials.html %}
    </div>
    {% include newsletter.html %}
    {% include footer.html %}

  </body>

</html>
