<!DOCTYPE html>
<html>

  {% include head.html %}


  <body class="post">

    {% include page-nav.html %}
    {% include contact-modal.html %}

    <header id="hero" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">
      <div class="container">
        <div class="row title">
          <!-- logo -->
          <div class="two columns">
            <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo"></a>
          </div>
          <!--site title-->
          <div class="ten columns">
            <a href="/}"><h2 class="site-title">{{site.data.settings.title}}</h2></a>
          </div>
          </div>
          <div class="row">
            <!-- title -->
            <a href="{{page.url | prepend: site.url}}"><h1 class="post-title">{{page.title}}</h1></a>
            <p class="tag-container">
              <em>in &nbsp;</em>
              {% for tag in page.tags | split: ","%}
                <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
              {% endfor %}
            </p>
            <a href="/about/"><img src="{{site.data.settings.images.client_headshot_path}}" alt="{{site.data.settings.client.name}}" class="headshot"></a>
            <p class="author-attribution">By <a href="/about/">{{site.data.settings.client.name}}</a></p>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="twelve columns post-content">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    {% include newsletter.html %}
    {% include footer.html %}

  </body>

</html>
{% comment %}
<div class="col col--12-of-12">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

  </article>
</div>
{% endcomment %}
